# Neo RPC related configuration.
chain:
  # Set to true when using monitor with FS chain which adds FS-specific metrics, false if using it with any other N3 chain.
  fschain: false
  rpc:
    dial_timeout: 60s
    # stores the interval after which a current connection health check is performed.
    health_recheck_interval: 5s
    # sleep timeout between pool connection retries.
    startup_pool_connection_sleep_timeout: 3s
    endpoint:
      - https://rpc1.t5.n3.nspcc.ru:21331
      - https://rpc2.t5.n3.nspcc.ru:21331

# Prometheus metric configuration.
metrics:
  # Interval between NeoFS metric scrapping.
  interval: 15s
  endpoint: ":16512"

contracts:
  # NeoFS contract from main chain. Required for asset supply metric.
  neofs: 3c3f4b84773ef0141576e48c3ff60e5078235891

logger:
  level: info

nep17:
  - contract: "gas"
    # allows to return the total token supply currently available.
    # totalSupply: true
    balanceOf:
      - 3c3f4b84773ef0141576e48c3ff60e5078235891
  - contract: "NEO"
    balanceOf:
      - NSPCCpw8YmgNDYWiBfXJHRfz38NDjv6WW3
      - NSPCCa2T6nc2kYcgWC2k68boyGgc9YdKsj
#  - contract: "balance"
#    label: "neofs_balance"
#    totalSupply: true
#    balanceOf:
#      - NagentXDvR5c3pQ4gxXpqZjMoUpKVCUMmB
# Another variant of contract definition.
#  - contract: "3c3f4b84773ef0141576e48c3ff60e5078235891"
#    label: "SomeContractName"
#    balanceOf:
#      - NSPCCpw8YmgNDYWiBfXJHRfz38NDjv6WW3
#      - NSPCCa2T6nc2kYcgWC2k68boyGgc9YdKsj
